.sidebar{
    display:flex;
    justify-content: center;

}

.card{
    border: 2px solid black;
    padding:60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(92, 0, 179);
    height:446px
}
.card p{
    color: rgb(183, 211, 235);
}

.sidebar img{
    height:566px;
     border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
     border: 2px solid black;
}

.formclass{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.formclass input[type="text"]{
    width:500px;
    height: 50px;
    border: 1px solid rgb(65, 62, 62);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.formclass button{
    width:50px;
    height: 52px;
    border: 1px solid rgb(58, 54, 54);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.formclass button:hover{
    background-color: red;
}

.formclass input[type="text"]:hover{
    background-color: antiquewhite;
}

footer{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    border-top: 1px solid  white;
    padding: 20px;
}

aside{
    padding: 20px 40px 20px 0;
    max-width: 400px;
    
    
}

aside img{
    width:350px;
}

aside h3{
    margin-top: 70px;
}

aside ul li{
    list-style-type: none;
}
