.div1{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.loginform {
    background-color: #000000;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    text-align: center;
    width: 500px;
}

.loginform img{
    width: 150px;
}

.loginform input[type="text"],
.loginform input[type="password"] {
    width: 300px;
    height: 30px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.loginform input[type="button"] {
    padding: 10px;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
}

.loginform input[type="button"]:hover {
    background-color: #f44336; 
    color: #dae9b7;
}

.forgot-password {
    display: inline-block;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    color: #e40c0c;
}
